

header{
    background-image: url(../../img/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 50%,hsl(0, 0%, 12%));
}

.medida-section{
    margin-bottom: 6em;
}


//Sobre mi

.title-about{
    font-family: var(--fuente-principal);
    color: #CDE6CB;
}

.parrafo-about{
    font-size: 1.2em;
    color: #C9D6C9;
    font-family: var(--fuente-secundaria);
}

.texto-about{
    color: #DBDADA;
    font-family: var(--fuente-secundaria);
    font-size: 1.2em;
}


.titulo-study{
    font-family: var(--fuente-principal);
    color: #ffff;
    font-weight: 600;
}

.parrafo-study{
   color:  #DBDADA;
   font-family: var(--fuente-secundaria);
}

.contenedor-stack{
    transition: .3s ease;
    background-color: #ffff;
}

.contenedor-stack:hover{
    transform: scale(1.1);
}